@model ICollection<PCPF.Domain.Model.Pedido>
@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using PCPF.Web.MVC.Extensions;
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Listagem</h3>
    </div>

    @await Component.InvokeAsync("Summary")

    <!-- /.card-header -->
    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            @*<a href="/Admin/Produto/novo-produto" class="btn btn-dark"> <span class="fas fa-book"></span> Novo Registo </a><br /><br />*@
            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <th tabindex="0" class="sorting_1">Referência</th>
                                <th>Cliente</th>
                                <th>Data do pedido</th>
                                <th>Status</th>
                                <th>Data de Finalização</th>
                                <th>Observação</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                            {
                                <tr role="row" class="even">
                                    <td tabindex="0" class="sorting_1">@item.Referencia</td>
                                    <td>@item.Cliente.Nome</td>
                                    <td>@item.IniciadoEm</td>
                                    <td>
                                        @Html.Raw(this.StatusPedido(item.StatusPedido))
                                    </td>
                                    <td>@item.FinalizadoEm</td>
                                    <td>@item.Observacao</td>
                                    <td>@item.Total.ToString("N")</td>
                                    <td>
                                        <a class="btn btn-warning" href="/Admin/Pedido/Detalhes/@item.Id"> <spam class="fa fa-search"></spam> </a>
                                        @if (item.StatusPedido == PCPF.Domain.Model.ValueObjects.StatusPedido.Processamento)
                                        {
                                            <a class="btn btn-success" href="" onclick="SetPedidoId(@item.Id)" data-toggle="modal" data-target="#defaultModal" data-backdrop="static" data-keyboard="false">Concluir <spam class="fa fa-check"></spam> </a>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr role="row">
                                <th tabindex="0" class="sorting_1">Referência</th>
                                <th>Cliente</th>
                                <th>Data do pedido</th>
                                <th>Status</th>
                                <th>Data de Finalização</th>
                                <th>Observação</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            @*<div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>*@
        </div>
    </div>
    <!-- /.card-body -->
</div>

<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Aviso
            </div>
            <div class="modal-body">
                Deseja realmente concluir o pedido?
                <input type="hidden" name="PedidoId" id="PedidoId" />
            </div>
            <div class="modal-footer">
                <button type="button" onclick="ConcluirPedido()" class="btn btn-success waves-effect">Sim</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>
