@model IEnumerable<PCPF.Domain.Model.Utilizador>
@using PCPF.Web.MVC.Extensions;
@{
    ViewBag.Title = "Lista de Utilizadores";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Listagem</h3>
    </div>

    @await Component.InvokeAsync("Summary")

    <!-- /.card-header -->
    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <a href="/Admin/Utilizador/Cadastrar" class="btn btn-dark"> <span class="fas fa-book"></span> Novo Registo </a><br /><br />
            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <th tabindex="0" class="sorting_1">Nome</th>
                                <th>UserName</th>
                                <th>Perfil</th>
                                <th>Situação</th>
                                <th>Data de registo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                            {
                                <tr role="row" class="even">
                                    <td tabindex="0" class="sorting_1">@item.Nome</td>
                                    <td>@item.UserName</td>
                                    <td>@Enum.GetName(typeof(PCPF.Domain.Model.ValueObjects.Perfil), item.Perfil)</td>
                                    <td style="color:@this.Status(item.Status).Item2; font-weight:bold">@this.Status(item.Status).Item1</td>
                                    <td>@item.DataRegisto</td>
                                    <td>
                                        <a class="btn btn-danger" href="/Facturacao/Cliente/dados-do-cliente/@item.Id"><spam class="fa fa-trash"></spam> </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr role="row">
                                <th tabindex="0" class="sorting_1">Nome</th>
                                <th>UserName</th>
                                <th>Perfil</th>
                                <th>Situação</th>
                                <th>Data de registo</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            @*<div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>*@
        </div>
    </div>
    <!-- /.card-body -->
</div>