@model ICollection<PCPF.Domain.Model.Produto>
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card card-green" style="margin-left:1%;">
    <div class="card-header">
        <h2 style="text-align:center">LISTA DE PRODUTOS</h2>
    </div>

    <div class="container">
        <form method="get" class="apply_from" enctype="multipart/form-data">

            <a href="/Admin/Produto/Cadastrar" class="btn btn-dark" style="margin-left:86%; width:140px; margin-top:3px"> <span class="fas fa-book"></span> Novo Registo </a>

            <br />
            <br />
            <br />

            <div class="table table-bordered">
                <div style="overflow-x:auto;">
                    <table class="table table-bordered">
                        <thead>
                            <tr style="background-color:#f5f5f5;text-align:center">

                                <th> Imagem </th>
                                <th> Descrição </th>
                                <th> Cod barra </th>
                                <th> Qtd mínima </th>
                                <th> Valor </th>
                                <th> Observação </th>
                                <th> Operador </th>
                                <th></th>
                            </tr>

                            @foreach (PCPF.Domain.Model.Produto f in Model)

                            {
                                <tr>
                                    <td> @f.Imagem </td>
                                    <td> @f.Descricao </td>
                                    <td> @f.CodigoBarras </td>
                                    <td> @f.QuantidadeMinima </td>
                                    <td> @f.Valor </td>
                                    <td> @f.Observacao </td>
                                    <td> @f.UtilizadorId </td>
                                    <td>
                                        <a href="@Url.ActionLink("Actualizar","Produto", new { id = f.Id, })" class="btn btn-dark"> <span class="fas fa-edit"></span> Editar </a>

                                        @*@Html.ActionLink("Editar", "Actualizar", new { id = f.Id }) |*@
                                    </td>

                                </tr>
                            }
                        </thead>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>