@{
    ViewBag.Title = "Stock";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model IEnumerable<PCPF.Domain.Model.Stock>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Listagem</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <th tabindex="0" class="sorting_1">Produto</th>
                                <th tabindex="0" class="sorting_1">Nº Lote</th>
                                <th tabindex="0" class="sorting_1">Stock</th>
                                <th tabindex="0" class="sorting_1">Quantidade Miníma</th>
                                <th tabindex="0" class="sorting_1">Data validade</th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                            {
                                <tr role="row" class="even">
                                    <td tabindex="0" class="sorting_1">@item.Produto.Descricao</td>
                                    <td tabindex="0" class="sorting_1">@item.NumeroLote</td>
                                    <td tabindex="0" class="sorting_1">@item.Quantidade</td>
                                    <td tabindex="0" class="sorting_1">@item.Produto.QuantidadeMinima</td>
                                    <td tabindex="0" class="sorting_1">@item.DataValidade</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr role="row">
                                <th tabindex="0" class="sorting_1">Produto</th>
                                <th tabindex="0" class="sorting_1">Nº Lote</th>
                                <th tabindex="0" class="sorting_1">Stock</th>
                                <th tabindex="0" class="sorting_1">Quantidade Miníma</th>
                                <th tabindex="0" class="sorting_1">Data validade</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            @*<div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>*@
        </div>
    </div>
    <!-- /.card-body -->
</div>